html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 500px;
    min-width: 280px;
    margin: 0 auto;
  }
  
  .form input[type="number"] {
    width: 80px;
  }

  .lastResult {
    color: white;
    padding: 3px;
  }